<div>
  <img
    src="https://cdn.filestackcontent.com/7YpUgdfPQ62d1BsGCOYz"
    alt="angular"
  />
  <h1>Alumnos</h1>
  <form [formGroup]="alumnoModel" (ngSubmit)="onSave()">
    <div>
      <input
        type="text"
        formControlName="alumno"
        placeholder="Ingrese un alumno..."
      />
      <div
        *ngIf="
          alumnoModel?.get('alumno')?.touched &&
          alumnoModel?.get('alumno')?.invalid
        "
        class="error-message"
      >
        {{ getControlErrorMessage("alumno") }}
      </div>
    </div>
    <input type="submit" value="Agregar" />
  </form>
  <ul>
    <li
      *ngFor="let alumno of alumnos"
      [ngClass]="alumno.match('[0-9]+') ? 'error' : 'success'"
    >
      {{ alumno | titlecase }}
    </li>
  </ul>
</div>
