div {
  padding: 3rem;
  display: grid;
  gap: 1rem;
}

div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.error {
  background-color: red;
}

.success {
  background-color: green;
}

input, button {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  border: 1px solid black;
  background-color: #eee;
}