div {
  padding: 3rem;
  display: grid;
  gap: 1rem;
}

div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

input, button {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  border: 1px solid black;
  background-color: #eee;
}

.error-message {
  color: red;
}

form {
  display: grid;
  gap: 10px;
  margin: auto;
}

form input, form button {
  max-width: 300px;
}

form div {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}