nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  background-color: #1e1e1e;
  color: #fff;
  height: var(--nav-height);
}

nav span {
  font-size: 2rem;
  font-weight: 700;
}